.card0{
    width: 450px !important;
    height: 200px !important;
}
.card1{
    width: 425px !important;
    height: 190px !important;
}
.card2{
      width: 475px !important;
      height: 225px !important;
  }